.blogCard{
    height: auto;
}
.aboutHead{
    text-decoration: underline;
}
.aboutUs{
    line-height: 30px;
    font-size: large;
    font-weight: lighter;
}
mat-tab-group{
  font-family: 'Cardo', serif;
}
